#Weather Database Challenge

In [ ]:
#!pip install citipy

In [2]:
import random
import sys
import math
import requests
import json
import pandas as pd
import numpy as np
from citipy import citipy
from config import weather_api_key
#Import dependencies

In [4]:
# Initial attempt
url = "http://api.openweathermap.org/data/2.5/weather?"
units="Imperial"

n=1
lat_min=-90. 
lat_max=90. 
lng_min=-180.
lng_max=180.
tot_city = 0

lat          = np.random.uniform(lat_min, lat_max, 5000) # Draw 5000 samples
lng          = np.random.uniform(lng_min, lng_max, 5000) # Draw 5000 samples

lat_lng_idx =  0
inc=0
rev = 0
inc_lat=1
inc_lng=1
#city_n      = citipy.nearest_city(lat[len(lat)-1-lat_lng_idx], lng[lat_lng_idx])
#city_n      = citipy.nearest_city(19.2,73.8833) # Junnar
city_n       = citipy.nearest_city(-27.597129,-101.514806) # Pisco, PE 
city_n       = citipy.nearest_city(-101.514806,-27.597129) # Big Spring US
        
city_name    = city_n.city_name
country_name = city_n.country_code
city_query_url = f"{url}appid={weather_api_key}&q={city_name}&units={units}"
try:
    city_weather_resp = requests.get(city_query_url).json()
except:
    print(f'Skipping for city:{city_name}')
print(json.dumps(city_weather_resp, indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 76
    },
    "cod": 200,
    "coord": {
        "lat": -54.8,
        "lon": -68.3
    },
    "dt": 1636416560,
    "id": 3833367,
    "main": {
        "feels_like": 39.4,
        "grnd_level": 1009,
        "humidity": 91,
        "pressure": 1016,
        "sea_level": 1016,
        "temp": 42.17,
        "temp_max": 42.17,
        "temp_min": 42.17
    },
    "name": "Ushuaia",
    "sys": {
        "country": "AR",
        "sunrise": 1636360186,
        "sunset": 1636416254
    },
    "timezone": -10800,
    "visibility": 10000,
    "weather": [
        {
            "description": "broken clouds",
            "icon": "04n",
            "id": 803,
            "main": "Clouds"
        }
    ],
    "wind": {
        "deg": 314,
        "gust": 5.53,
        "speed": 4.52
    }
}

In [16]:
#Strategy to get 2000 random citi information
# Steps 1-8
# 1.1 in a while loop_cnt < 2000 loop_cnt initialized to 0  
# 1.2 Generate random, latituede longitude pair  using num py; using unifrom distribution within range
#    min/max range lat - -90  to + 90
#    min/max range lng - -180 to + 180
# 1.3 Use citipy library get city, country information
# 1.4 check if city_country pair is unique - use python list.feature - item not in list[]
# 2. Create a new Jupyter Notebook file to retrieve the weather data, and name it Weather_Database.ipynb.
# 3. Create a new set of 2,000 random latitudes and longitudes.
# 4. Get the nearest city using the citipy module.	
# 5. Perform an API call with the OpenWeatherMap.	
# 6. Retrieve the following information from the API call:	
#         % Humidity
#         % Cloudiness
#         Wind Speed
#         Weather Description

# DEBUG STEPS TO DEVELOP THIS CODE
# url = "http://api.openweathermap.org/data/2.5/weather?"
# city="San Ramon"
# units="Imperial"
# city_query_url = f"{url}appid={weather_api_key}&q={city}&units={units}"

# city_weather_resp = requests.get(city_query_url).json()
# # print(json.dumps(city_weather_resp, indent=4, sort_keys=True))

# print(f'temperature {city_weather_resp["main"]["temp"]}')
# print(f'max temp {city_weather_resp["main"]["temp_max"]}')
# print(f'humidity {city_weather_resp["main"]["humidity"]}')
# print(f'Cloudiness {city_weather_resp["clouds"]["all"]}')
# print(f'Wind Speed {city_weather_resp["wind"]["speed"]}')
# print(f'Current description {city_weather_resp["weather"][0]["description"]}')

url = "http://api.openweathermap.org/data/2.5/weather?"
units="Imperial"

n=1
lat_min=-90. 
lat_max=90. 
lng_min=-180.
lng_max=180.
tot_city = 0

city_country_name_list = []
city_name_list = []
city_country_list = []
city_lat_list = []
city_lng_list = []
city_max_temperature_list = []
city_humidity_list = []
city_cloudiness_list = []
city_wind_speed_list = []
city_cur_descript_list = []

# Debug with short number - Establish flow then take a long number 
# 1    DONE - GOOD
# 10   DONE - GOOD
# 200  IP
# 2000
lat         = np.random.uniform(lat_min, lat_max, 5000) # Draw 5000 samples
lng          = np.random.uniform(lng_min, lng_max, 5000) # Draw 5000 samples

lat_lng_idx = 0
inc=0
rev = 0
inc_lat=1
inc_lng=1
while ( tot_city < 2000 and lat_lng_idx < len(lat) and rev < 3): 
    if ( rev ==  0 ): 
        city_n       = citipy.nearest_city(lat[len(lat)-1-lat_lng_idx], lng[lat_lng_idx])
        if ( lat_lng_idx >= (len(lat)-1) ): 
            lat_lng_idx = 0
            rev+=1
            print(f'rev:0 switch rev:{rev} lat_lng_idx{lat_lng_idx}')
    elif ( rev == 1 ): 
        city_n       = citipy.nearest_city(lat[lat_lng_idx], lng[len(lat)-1-lat_lng_idx])
        if ( lat_lng_idx >= (len(lat)-1) ):
            lat_lng_idx = 0
            rev+=1
            print(f'rev:1 switch rev:{rev} lat_lng_idx{lat_lng_idx}')
    elif(  rev == 2 ):
        city_n       = citipy.nearest_city(lat[lat_lng_idx], lng[lat_lng_idx])
        if ( lat_lng_idx >= (len(lat)-1) ): # rev >=2
            lat_lng_idx = 0
            rev+=1
            print(f'rev:2 switch rev:{rev} lat_lng_idx{lat_lng_idx}')
        
    city_name    = city_n.city_name
    country_name = city_n.country_code
    city_query_url = f"{url}appid={weather_api_key}&q={city_name}&units={units}"
    try:
        city_weather_resp = requests.get(city_query_url).json()
    except:
        print(f'Skipping for city:{city_name}')
    ##weather_response = requests.get(query_url)
    ##weather_json = weather_response.json()
    #print(json.dumps(city_weather_resp, indent=4, sort_keys=True))

    # concatenate city country, lat, lng, Max Temp, Humidity, Cloudiness, Wind Speed Current Decription to list
    city_country_name = {city_name,country_name}
    #print(city_country_name)            
    try:
        if ( (city_country_name not in city_country_name_list) ):
            city_max_temperature_list.append(city_weather_resp["main"]["temp_max"])
            city_humidity_list.append(city_weather_resp["main"]["humidity"])
            city_cloudiness_list.append(city_weather_resp["clouds"]["all"])
            city_wind_speed_list.append(city_weather_resp["wind"]["speed"])
            city_cur_descript_list.append(city_weather_resp["weather"][0]["description"])
            city_lat_list.append(city_weather_resp["coord"]["lat"])
            city_lng_list.append(city_weather_resp["coord"]["lon"])
            city_country_name_list.append(city_country_name)
            city_name_list.append(city_name)            
            city_country_list.append(country_name)
            tot_city+=1
            #suppress lat_lng_idx increment here
            #lat_lng_idx+=1
            #logic to find cities near bye when we hit a city with random lat/lng co-ordinates BEGIN
            if ( inc < 21 ):                 
                if ( inc < 10 ):
                    inc_lat=1
                    inc_lng=1
                else:
                    inc_lat=1
                    inc_lng=-1
                if ( inc%2 ):
                    lat[lat_lng_idx]+=inc_lat
                else:
                    lng[lat_lng_idx]+=inc_lng
                #increment always
                inc+=1
                if ( inc == 20 ):
                    #allow lat_lng_idx increment here
                    lat_lng_idx+=1
                    #reset everything
                    inc=0
                    inc_lat=1
                    inc_lng=1
            #logic to find cities near bye when we hit a city with random lat/lng co-ordinates END!
                    
            if ( tot_city%50 == 1 or lat_lng_idx%100 == 1 ):
                print(f'Found city:{city_name} country:{country_name} tot_city:{tot_city} lat_lng_idx:{lat_lng_idx} inc:{inc} rev:{rev}')
        else:
            if ( tot_city%50 == 1 or lat_lng_idx%100 == 1):
                print(f'Observed repeat city:{city_name} country:{country_name} tot_city:{tot_city} lat_lng_idx:{lat_lng_idx} inc:{inc} rev:{rev}')
            lat_lng_idx+=1
            #reset everything on duplicate
            inc=0
            inc_lat=1
            inc_lng=1
    except:
        if ( tot_city%50 == 1 or lat_lng_idx%100 == 1):
            print(f'Invalid Response for  city:{city_name} Skipping @ tot_city:{tot_city} lat_lng_idx:{lat_lng_idx} inc:{inc} rev:{rev}')
        if ( tot_city%50 == 1 or lat_lng_idx%100 == 1):
            print(f'Incr tot_city to :{tot_city}') # this is also index
        # order matters because following should not be added if an exception hits!!
        city_max_temperature_list.append("NaN")
        city_humidity_list.append("NaN")
        city_cloudiness_list.append("NaN")
        city_wind_speed_list.append("NaN")
        city_cur_descript_list.append("NaN")
        city_lat_list.append("NaN")
        city_lng_list.append("NaN")
        city_country_name_list.append(city_country_name)
        city_name_list.append(city_name)            
        city_country_list.append(country_name)
        tot_city+=1
        #reset everything on Invalid
        lat_lng_idx+=1
        inc=0
        inc_lat=1
        inc_lng=1
    # order matters because following should not be added if an exception hits!!
    # before exiting while loop add city/Country

# print(city_country_name_list)
print(f'Total tot_city:{tot_city} lat_lng_idx:{lat_lng_idx}')

# create Data frame Step#8 
city_df = pd.DataFrame({
    'City' : city_name_list,
    'Country' : city_country_list,
    'Lat'  : city_lat_list,
    'Lon' : city_lng_list,
    'Max Temp' : city_max_temperature_list,
    '% Humidity' : city_humidity_list,
    '% Cloudiness' : city_cloudiness_list,
    'Wind Speed' :city_wind_speed_list,
    'Current Decription' : city_cur_descript_list
})
city_df

Found city:faya country:td tot_city:1 lat_lng_idx:0 inc:1 rev:0
Observed repeat city:faya country:td tot_city:1 lat_lng_idx:0 inc:1 rev:0
Found city:east london country:za tot_city:2 lat_lng_idx:1 inc:1 rev:0
Invalid Response for  city:umzimvubu Skipping @ tot_city:2 lat_lng_idx:1 inc:1 rev:0
Incr tot_city to :2
Found city:upernavik country:gl tot_city:51 lat_lng_idx:49 inc:1 rev:0
Observed repeat city:upernavik country:gl tot_city:51 lat_lng_idx:49 inc:1 rev:0
Found city:kasama country:zm tot_city:101 lat_lng_idx:95 inc:2 rev:0
Observed repeat city:kasama country:zm tot_city:101 lat_lng_idx:95 inc:2 rev:0
Observed repeat city:new norfolk country:au tot_city:105 lat_lng_idx:101 inc:0 rev:0
Found city:chokurdakh country:ru tot_city:151 lat_lng_idx:163 inc:1 rev:0
Observed repeat city:chokurdakh country:ru tot_city:151 lat_lng_idx:163 inc:1 rev:0
Observed repeat city:hilo country:us tot_city:174 lat_lng_idx:201 inc:0 rev:0
Found city:kadoma country:zw tot_city:201 lat_lng_idx:235 inc:1 rev:0
Observed repeat city:kadoma country:zw tot_city:201 lat_lng_idx:235 inc:1 rev:0
Found city:soyo country:ao tot_city:251 lat_lng_idx:298 inc:1 rev:0
Observed repeat city:albany country:au tot_city:252 lat_lng_idx:301 inc:0 rev:0
Found city:kaupanger country:no tot_city:312 lat_lng_idx:401 inc:1 rev:0
Found city:ovre ardal country:no tot_city:313 lat_lng_idx:401 inc:2 rev:0
Observed repeat city:ovre ardal country:no tot_city:313 lat_lng_idx:401 inc:2 rev:0
Found city:komsomolskiy country:ru tot_city:351 lat_lng_idx:458 inc:1 rev:0
Observed repeat city:komsomolskiy country:ru tot_city:351 lat_lng_idx:458 inc:1 rev:0
Observed repeat city:punta arenas country:cl tot_city:351 lat_lng_idx:459 inc:0 rev:0
Observed repeat city:albany country:au tot_city:351 lat_lng_idx:460 inc:0 rev:0
Observed repeat city:thompson country:ca tot_city:351 lat_lng_idx:461 inc:0 rev:0
Observed repeat city:hilo country:us tot_city:351 lat_lng_idx:462 inc:0 rev:0
Found city:vanimo country:pg tot_city:372 lat_lng_idx:501 inc:1 rev:0
Observed repeat city:vanimo country:pg tot_city:372 lat_lng_idx:501 inc:1 rev:0
Found city:horinchovo country:ua tot_city:401 lat_lng_idx:552 inc:1 rev:0
Observed repeat city:narsaq country:gl tot_city:433 lat_lng_idx:601 inc:0 rev:0
Found city:puerto gaitan country:co tot_city:451 lat_lng_idx:622 inc:1 rev:0
Observed repeat city:mahebourg country:mu tot_city:494 lat_lng_idx:701 inc:0 rev:0
Found city:la ronge country:ca tot_city:501 lat_lng_idx:718 inc:1 rev:0
Observed repeat city:thompson country:ca tot_city:501 lat_lng_idx:718 inc:1 rev:0
Observed repeat city:jamestown country:sh tot_city:501 lat_lng_idx:719 inc:0 rev:0
Found city:bonfim country:br tot_city:550 lat_lng_idx:801 inc:1 rev:0
Found city:terra santa country:br tot_city:551 lat_lng_idx:801 inc:2 rev:0
Observed repeat city:terra santa country:br tot_city:551 lat_lng_idx:801 inc:2 rev:0
Found city:sorland country:no tot_city:599 lat_lng_idx:901 inc:1 rev:0
Found city:gravdal country:no tot_city:600 lat_lng_idx:901 inc:2 rev:0
Observed repeat city:gravdal country:no tot_city:600 lat_lng_idx:901 inc:2 rev:0
Found city:salitral country:pe tot_city:601 lat_lng_idx:904 inc:1 rev:0
Found city:catamarca country:ar tot_city:651 lat_lng_idx:995 inc:2 rev:0
Observed repeat city:catamarca country:ar tot_city:651 lat_lng_idx:995 inc:2 rev:0
Observed repeat city:albany country:au tot_city:651 lat_lng_idx:996 inc:0 rev:0
Observed repeat city:thompson country:ca tot_city:651 lat_lng_idx:997 inc:0 rev:0
Observed repeat city:hermanus country:za tot_city:651 lat_lng_idx:998 inc:0 rev:0
Observed repeat city:north bend country:us tot_city:652 lat_lng_idx:1001 inc:0 rev:0
Observed repeat city:atuona country:pf tot_city:693 lat_lng_idx:1101 inc:0 rev:0
Found city:maniitsoq country:gl tot_city:701 lat_lng_idx:1119 inc:1 rev:0
Observed repeat city:maniitsoq country:gl tot_city:701 lat_lng_idx:1119 inc:1 rev:0
Observed repeat city:jamestown country:sh tot_city:737 lat_lng_idx:1201 inc:0 rev:0
Found city:mount pleasant country:us tot_city:751 lat_lng_idx:1230 inc:2 rev:0
Observed repeat city:mount pleasant country:us tot_city:751 lat_lng_idx:1230 inc:2 rev:0
Observed repeat city:busselton country:au tot_city:751 lat_lng_idx:1231 inc:0 rev:0
Observed repeat city:hermanus country:za tot_city:751 lat_lng_idx:1232 inc:0 rev:0
Found city:tortoli country:it tot_city:783 lat_lng_idx:1301 inc:1 rev:0
Observed repeat city:tortoli country:it tot_city:783 lat_lng_idx:1301 inc:1 rev:0
Found city:mataram country:id tot_city:801 lat_lng_idx:1347 inc:2 rev:0
Observed repeat city:mataram country:id tot_city:801 lat_lng_idx:1347 inc:2 rev:0
Observed repeat city:namibe country:ao tot_city:801 lat_lng_idx:1348 inc:0 rev:0
Observed repeat city:namatanai country:pg tot_city:826 lat_lng_idx:1401 inc:0 rev:0
Found city:sydney country:au tot_city:851 lat_lng_idx:1478 inc:1 rev:0
Observed repeat city:punta arenas country:cl tot_city:861 lat_lng_idx:1501 inc:0 rev:0
Found city:grindavik country:is tot_city:901 lat_lng_idx:1601 inc:1 rev:0
Observed repeat city:grindavik country:is tot_city:901 lat_lng_idx:1601 inc:1 rev:0
Observed repeat city:vaini country:to tot_city:901 lat_lng_idx:1602 inc:0 rev:0
Observed repeat city:chokurdakh country:ru tot_city:949 lat_lng_idx:1701 inc:0 rev:0
Found city:banfora country:bf tot_city:951 lat_lng_idx:1705 inc:2 rev:0
Observed repeat city:banfora country:bf tot_city:951 lat_lng_idx:1705 inc:2 rev:0
Observed repeat city:vaini country:to tot_city:951 lat_lng_idx:1706 inc:0 rev:0
Observed repeat city:longyearbyen country:sj tot_city:995 lat_lng_idx:1801 inc:0 rev:0
Found city:inhambane country:mz tot_city:1001 lat_lng_idx:1810 inc:1 rev:0
Observed repeat city:toliary country:mg tot_city:1001 lat_lng_idx:1810 inc:1 rev:0
Found city:rameswaram country:in tot_city:1037 lat_lng_idx:1901 inc:1 rev:0
Found city:kilinochchi country:lk tot_city:1038 lat_lng_idx:1901 inc:2 rev:0
Observed repeat city:kilinochchi country:lk tot_city:1038 lat_lng_idx:1901 inc:2 rev:0
Found city:hudiksvall country:se tot_city:1051 lat_lng_idx:1937 inc:2 rev:0
Observed repeat city:hudiksvall country:se tot_city:1051 lat_lng_idx:1937 inc:2 rev:0
Observed repeat city:sibolga country:id tot_city:1051 lat_lng_idx:1938 inc:0 rev:0
Observed repeat city:ribeira grande country:pt tot_city:1051 lat_lng_idx:1939 inc:0 rev:0
Observed repeat city:coihaique country:cl tot_city:1051 lat_lng_idx:1940 inc:0 rev:0
Observed repeat city:hofn country:is tot_city:1051 lat_lng_idx:1941 inc:0 rev:0
Observed repeat city:deputatskiy country:ru tot_city:1051 lat_lng_idx:1942 inc:0 rev:0
Observed repeat city:hermanus country:za tot_city:1051 lat_lng_idx:1943 inc:0 rev:0
Observed repeat city:dubbo country:au tot_city:1051 lat_lng_idx:1944 inc:0 rev:0
Found city:yashan country:cn tot_city:1077 lat_lng_idx:2001 inc:1 rev:0
Found city:gaozhou country:cn tot_city:1078 lat_lng_idx:2001 inc:2 rev:0
Observed repeat city:gaozhou country:cn tot_city:1078 lat_lng_idx:2001 inc:2 rev:0
Found city:kaohsiung country:tw tot_city:1101 lat_lng_idx:2053 inc:1 rev:0
Invalid Response for  city:chaochou Skipping @ tot_city:1101 lat_lng_idx:2053 inc:1 rev:0
Incr tot_city to :1101
Observed repeat city:punta arenas country:cl tot_city:1125 lat_lng_idx:2101 inc:0 rev:0
Found city:kuybyshevo country:ru tot_city:1151 lat_lng_idx:2160 inc:1 rev:0
Observed repeat city:butaritari country:ki tot_city:1159 lat_lng_idx:2201 inc:0 rev:0
Observed repeat city:yellowknife country:ca tot_city:1191 lat_lng_idx:2301 inc:0 rev:0
Found city:kurud country:in tot_city:1201 lat_lng_idx:2332 inc:2 rev:0
Observed repeat city:kurud country:in tot_city:1201 lat_lng_idx:2332 inc:2 rev:0
Found city:igbo ora country:ng tot_city:1228 lat_lng_idx:2401 inc:1 rev:0
Found city:gbongan country:ng tot_city:1229 lat_lng_idx:2401 inc:2 rev:0
Observed repeat city:gbongan country:ng tot_city:1229 lat_lng_idx:2401 inc:2 rev:0
Found city:xining country:cn tot_city:1251 lat_lng_idx:2470 inc:1 rev:0
Observed repeat city:xining country:cn tot_city:1251 lat_lng_idx:2470 inc:1 rev:0
Found city:luanda country:ao tot_city:1268 lat_lng_idx:2501 inc:1 rev:0
Observed repeat city:luanda country:ao tot_city:1268 lat_lng_idx:2501 inc:1 rev:0
Found city:campeche country:mx tot_city:1301 lat_lng_idx:2568 inc:1 rev:0

Observed repeat city:vaini country:to tot_city:1307 lat_lng_idx:2601 inc:0 rev:0
Observed repeat city:jamestown country:sh tot_city:1349 lat_lng_idx:2701 inc:0 rev:0
Found city:rapid valley country:us tot_city:1351 lat_lng_idx:2716 inc:1 rev:0
Found city:dalvik country:is tot_city:1386 lat_lng_idx:2801 inc:1 rev:0
Observed repeat city:dalvik country:is tot_city:1386 lat_lng_idx:2801 inc:1 rev:0
Found city:kaihua country:cn tot_city:1401 lat_lng_idx:2861 inc:1 rev:0
Found city:chelno-vershiny country:ru tot_city:1412 lat_lng_idx:2901 inc:1 rev:0
Found city:klyavlino country:ru tot_city:1413 lat_lng_idx:2901 inc:2 rev:0
Observed repeat city:klyavlino country:ru tot_city:1413 lat_lng_idx:2901 inc:2 rev:0
Found city:vale country:ge tot_city:1443 lat_lng_idx:3001 inc:1 rev:0
Found city:tsalka country:ge tot_city:1444 lat_lng_idx:3001 inc:2 rev:0
Observed repeat city:tsalka country:ge tot_city:1444 lat_lng_idx:3001 inc:2 rev:0
Found city:dennery country:lc tot_city:1451 lat_lng_idx:3018 inc:2 rev:0
Observed repeat city:dennery country:lc tot_city:1451 lat_lng_idx:3018 inc:2 rev:0
Observed repeat city:punta arenas country:cl tot_city:1451 lat_lng_idx:3019 inc:0 rev:0
Observed repeat city:rikitea country:pf tot_city:1474 lat_lng_idx:3101 inc:0 rev:0
Found city:mendeleyevo country:ru tot_city:1501 lat_lng_idx:3148 inc:2 rev:0
Observed repeat city:mendeleyevo country:ru tot_city:1501 lat_lng_idx:3148 inc:2 rev:0
Observed repeat city:hobart country:au tot_city:1532 lat_lng_idx:3201 inc:0 rev:0
Found city:zatoka country:ua tot_city:1551 lat_lng_idx:3248 inc:2 rev:0
Observed repeat city:zatoka country:ua tot_city:1551 lat_lng_idx:3248 inc:2 rev:0
Observed repeat city:grindavik country:is tot_city:1551 lat_lng_idx:3249 inc:0 rev:0
Observed repeat city:pevek country:ru tot_city:1551 lat_lng_idx:3250 inc:0 rev:0
Observed repeat city:tsihombe country:mg tot_city:1551 lat_lng_idx:3251 inc:0 rev:0
Observed repeat city:punta arenas country:cl tot_city:1551 lat_lng_idx:3252 inc:0 rev:0
Observed repeat city:barrow country:us tot_city:1551 lat_lng_idx:3253 inc:0 rev:0
Observed repeat city:avarua country:ck tot_city:1566 lat_lng_idx:3301 inc:0 rev:0
Found city:innisfail country:au tot_city:1601 lat_lng_idx:3374 inc:1 rev:0
Observed repeat city:townsville country:au tot_city:1601 lat_lng_idx:3374 inc:1 rev:0
Observed repeat city:qaanaaq country:gl tot_city:1601 lat_lng_idx:3375 inc:0 rev:0
Observed repeat city:saint george country:bm tot_city:1601 lat_lng_idx:3376 inc:0 rev:0
Observed repeat city:mataura country:pf tot_city:1601 lat_lng_idx:3377 inc:0 rev:0
Observed repeat city:tecoanapa country:mx tot_city:1601 lat_lng_idx:3378 inc:0 rev:0
Observed repeat city:neyshabur country:ir tot_city:1601 lat_lng_idx:3379 inc:0 rev:0
Observed repeat city:punta arenas country:cl tot_city:1601 lat_lng_idx:3380 inc:0 rev:0
Observed repeat city:sao filipe country:cv tot_city:1601 lat_lng_idx:3381 inc:0 rev:0
Observed repeat city:leningradskiy country:ru tot_city:1601 lat_lng_idx:3382 inc:0 rev:0
Observed repeat city:bluff country:nz tot_city:1601 lat_lng_idx:3383 inc:0 rev:0
Observed repeat city:cape town country:za tot_city:1601 lat_lng_idx:3384 inc:0 rev:0
Observed repeat city:manoel urbano country:br tot_city:1601 lat_lng_idx:3385 inc:0 rev:0
Observed repeat city:ushuaia country:ar tot_city:1601 lat_lng_idx:3386 inc:0 rev:0
Observed repeat city:upernavik country:gl tot_city:1601 lat_lng_idx:3387 inc:0 rev:0
Observed repeat city:havoysund country:no tot_city:1601 lat_lng_idx:3388 inc:0 rev:0
Observed repeat city:jamestown country:sh tot_city:1601 lat_lng_idx:3389 inc:0 rev:0
Observed repeat city:bluff country:nz tot_city:1601 lat_lng_idx:3390 inc:0 rev:0
Observed repeat city:coihaique country:cl tot_city:1601 lat_lng_idx:3391 inc:0 rev:0
Observed repeat city:hilo country:us tot_city:1601 lat_lng_idx:3392 inc:0 rev:0
Observed repeat city:albany country:au tot_city:1601 lat_lng_idx:3393 inc:0 rev:0
Observed repeat city:bluff country:nz tot_city:1601 lat_lng_idx:3394 inc:0 rev:0
Observed repeat city:ushuaia country:ar tot_city:1601 lat_lng_idx:3395 inc:0 rev:0
Found city:haverfordwest country:gb tot_city:1604 lat_lng_idx:3401 inc:1 rev:0
Observed repeat city:haverfordwest country:gb tot_city:1604 lat_lng_idx:3401 inc:1 rev:0
Observed repeat city:new norfolk country:au tot_city:1632 lat_lng_idx:3501 inc:0 rev:0
Observed repeat city:punta arenas country:cl tot_city:1651 lat_lng_idx:3537 inc:0 rev:0
Observed repeat city:puerto ayora country:ec tot_city:1651 lat_lng_idx:3538 inc:0 rev:0
Observed repeat city:gigmoto country:ph tot_city:1651 lat_lng_idx:3539 inc:0 rev:0
Observed repeat city:yellowknife country:ca tot_city:1651 lat_lng_idx:3540 inc:0 rev:0
Observed repeat city:albany country:au tot_city:1651 lat_lng_idx:3541 inc:0 rev:0
Observed repeat city:homer country:us tot_city:1651 lat_lng_idx:3542 inc:0 rev:0
Observed repeat city:belushya guba country:ru tot_city:1651 lat_lng_idx:3543 inc:0 rev:0
Observed repeat city:quatre cocos country:mu tot_city:1651 lat_lng_idx:3544 inc:0 rev:0
Observed repeat city:cape town country:za tot_city:1651 lat_lng_idx:3545 inc:0 rev:0
Observed repeat city:atuona country:pf tot_city:1651 lat_lng_idx:3546 inc:0 rev:0
Observed repeat city:saskylakh country:ru tot_city:1651 lat_lng_idx:3547 inc:0 rev:0
Observed repeat city:qaanaaq country:gl tot_city:1651 lat_lng_idx:3548 inc:0 rev:0
Observed repeat city:tsihombe country:mg tot_city:1651 lat_lng_idx:3549 inc:0 rev:0
Observed repeat city:vaini country:to tot_city:1651 lat_lng_idx:3550 inc:0 rev:0
Observed repeat city:victoria country:sc tot_city:1651 lat_lng_idx:3551 inc:0 rev:0
Observed repeat city:taolanaro country:mg tot_city:1651 lat_lng_idx:3552 inc:0 rev:0
Observed repeat city:margate country:za tot_city:1670 lat_lng_idx:3601 inc:0 rev:0
Observed repeat city:taolanaro country:mg tot_city:1697 lat_lng_idx:3701 inc:0 rev:0
Found city:aykino country:ru tot_city:1701 lat_lng_idx:3720 inc:1 rev:0
Observed repeat city:salalah country:om tot_city:1725 lat_lng_idx:3801 inc:0 rev:0
Found city:bugulma country:ru tot_city:1751 lat_lng_idx:3877 inc:1 rev:0
Observed repeat city:airai country:pw tot_city:1759 lat_lng_idx:3901 inc:0 rev:0
Observed repeat city:carnarvon country:au tot_city:1791 lat_lng_idx:4001 inc:0 rev:0
Found city:malaya serdoba country:ru tot_city:1801 lat_lng_idx:4032 inc:1 rev:0
Observed repeat city:petrovsk country:ru tot_city:1801 lat_lng_idx:4032 inc:1 rev:0
Observed repeat city:mys shmidta country:ru tot_city:1801 lat_lng_idx:4033 inc:0 rev:0
Observed repeat city:hilo country:us tot_city:1801 lat_lng_idx:4034 inc:0 rev:0
Observed repeat city:longyearbyen country:sj tot_city:1801 lat_lng_idx:4035 inc:0 rev:0
Observed repeat city:flinders country:au tot_city:1801 lat_lng_idx:4036 inc:0 rev:0
Observed repeat city:taolanaro country:mg tot_city:1801 lat_lng_idx:4037 inc:0 rev:0
Observed repeat city:tuktoyaktuk country:ca tot_city:1819 lat_lng_idx:4101 inc:0 rev:0
Found city:sunndalsora country:no tot_city:1851 lat_lng_idx:4176 inc:2 rev:0
Observed repeat city:sunndalsora country:no tot_city:1851 lat_lng_idx:4176 inc:2 rev:0
Observed repeat city:fortuna country:us tot_city:1851 lat_lng_idx:4177 inc:0 rev:0
Observed repeat city:kapaa country:us tot_city:1851 lat_lng_idx:4178 inc:0 rev:0
Observed repeat city:ushuaia country:ar tot_city:1851 lat_lng_idx:4179 inc:0 rev:0
Observed repeat city:mataura country:pf tot_city:1851 lat_lng_idx:4180 inc:0 rev:0
Observed repeat city:bluff country:nz tot_city:1851 lat_lng_idx:4181 inc:0 rev:0
Observed repeat city:punta arenas country:cl tot_city:1851 lat_lng_idx:4182 inc:0 rev:0
Observed repeat city:taolanaro country:mg tot_city:1851 lat_lng_idx:4183 inc:0 rev:0
Observed repeat city:kapaa country:us tot_city:1851 lat_lng_idx:4184 inc:0 rev:0
Observed repeat city:khatanga country:ru tot_city:1851 lat_lng_idx:4185 inc:0 rev:0
Observed repeat city:flinders country:au tot_city:1856 lat_lng_idx:4201 inc:0 rev:0
Observed repeat city:vila do maio country:cv tot_city:1883 lat_lng_idx:4301 inc:0 rev:0
Observed repeat city:ancud country:cl tot_city:1900 lat_lng_idx:4401 inc:0 rev:0
Found city:caborca country:mx tot_city:1901 lat_lng_idx:4402 inc:1 rev:0
Observed repeat city:rikitea country:pf tot_city:1924 lat_lng_idx:4501 inc:0 rev:0

Found city:semnan country:ir tot_city:1943 lat_lng_idx:4601 inc:1 rev:0
Found city:damghan country:ir tot_city:1944 lat_lng_idx:4601 inc:2 rev:0
Observed repeat city:damghan country:ir tot_city:1944 lat_lng_idx:4601 inc:2 rev:0
Found city:lamar country:us tot_city:1951 lat_lng_idx:4635 inc:2 rev:0
Observed repeat city:lamar country:us tot_city:1951 lat_lng_idx:4635 inc:2 rev:0
Observed repeat city:oktyabrskiy country:ru tot_city:1951 lat_lng_idx:4636 inc:0 rev:0
Observed repeat city:tuktoyaktuk country:ca tot_city:1963 lat_lng_idx:4701 inc:0 rev:0
Observed repeat city:mar del plata country:ar tot_city:1993 lat_lng_idx:4801 inc:0 rev:0
Total tot_city:2000 lat_lng_idx:4828

,City,Country,Lat,Lon,Max Temp,% Humidity,% Cloudiness,Wind Speed,Current Decription
0,faya,td,18.3851,42.4509,53.71,41,24,3.42,few clouds
1,east london,za,-33.0153,27.9116,58.26,92,100,12.37,moderate rain
2,umzimvubu,za,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sola,vu,-13.8833,167.55,82.04,74,5,13.2,clear sky
4,changping,cn,40.2186,116.2197,40.64,62,1,12.91,clear sky
...,...,...,...,...,...,...,...,...,...
1995,mabamba,tz,-3.5983,30.5019,63.18,58,82,2.62,broken clouds
1996,berndorf,at,47.9457,16.1097,45.66,84,7,4.23,clear sky
1997,janossomorja,hu,47.7862,17.136,44.82,67,100,9.91,overcast clouds
1998,ikeda,jp,34.8221,135.4298,64.11,93,75,13.8,broken clouds
1999,gobo,jp,33.8833,135.15,64.38,75,88,24.23,overcast clouds

In [20]:
# display compiled data
city_df

,City,Country,Lat,Lon,Max Temp,% Humidity,% Cloudiness,Wind Speed,Current Description
0,faya,td,18.3851,42.4509,53.71,41,24,3.42,few clouds
1,east london,za,-33.0153,27.9116,58.26,92,100,12.37,moderate rain
2,umzimvubu,za,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sola,vu,-13.8833,167.55,82.04,74,5,13.2,clear sky
4,changping,cn,40.2186,116.2197,40.64,62,1,12.91,clear sky
...,...,...,...,...,...,...,...,...,...
1995,mabamba,tz,-3.5983,30.5019,63.18,58,82,2.62,broken clouds
1996,berndorf,at,47.9457,16.1097,45.66,84,7,4.23,clear sky
1997,janossomorja,hu,47.7862,17.136,44.82,67,100,9.91,overcast clouds
1998,ikeda,jp,34.8221,135.4298,64.11,93,75,13.8,broken clouds
1999,gobo,jp,33.8833,135.15,64.38,75,88,24.23,overcast clouds

In [21]:
# 7. Add the data to a new DataFrame.
city_back_df = city_df
# Rename columns as requested % Humidiy and Cloudiness TBD!
# city_df
city_df.rename(columns = {'Current Decription':'Current Description'}, inplace = True)
# city_fmt_df['Lat'] =  city_fmt_df['Lat'].map("{:,.2f}".format)
# city_fmt_df['Lng'] =  city_fmt_df['Lng'].map("{:,.2f}".format)
city_df

,City,Country,Lat,Lon,Max Temp,% Humidity,% Cloudiness,Wind Speed,Current Description
0,faya,td,18.3851,42.4509,53.71,41,24,3.42,few clouds
1,east london,za,-33.0153,27.9116,58.26,92,100,12.37,moderate rain
2,umzimvubu,za,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sola,vu,-13.8833,167.55,82.04,74,5,13.2,clear sky
4,changping,cn,40.2186,116.2197,40.64,62,1,12.91,clear sky
...,...,...,...,...,...,...,...,...,...
1995,mabamba,tz,-3.5983,30.5019,63.18,58,82,2.62,broken clouds
1996,berndorf,at,47.9457,16.1097,45.66,84,7,4.23,clear sky
1997,janossomorja,hu,47.7862,17.136,44.82,67,100,9.91,overcast clouds
1998,ikeda,jp,34.8221,135.4298,64.11,93,75,13.8,broken clouds
1999,gobo,jp,33.8833,135.15,64.38,75,88,24.23,overcast clouds

In [22]:
# 8. Export the DataFrame as a CSV file, and save it as WeatherPy_Database.csv in the Weather_Database folder.
city_df.to_csv(r'.\Resources\WeatherPy_Database.csv', index = False, header=True)